@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit:wght@300;800&family=Lobster&family=Outfit:wght@300&family=Pacifico&family=Poppins:wght@400;500&family=Roboto+Condensed:wght@300&family=Secular+One&family=Yeseva+One&display=swap');

h4 {
    font-family: 'Secular One', sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 50px;
}

.description p {
    font-family: 'Secular One', sans-serif;
    font-size: 25px;
    letter-spacing: 5px;
}