@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit:wght@300;800&family=Lobster&family=Outfit:wght@300&family=Pacifico&family=Poppins:wght@400;500&family=Roboto+Condensed:wght@300&family=Secular+One&family=Yeseva+One&display=swap');

h1 {
    font-family: 'Secular One', sans-serif;
    font-size: 50px;
}

h6 {
    letter-spacing: 2px;
    font-size: 20px;
}